# All optional. Defaults shown.
ALLOWED_ORIGINS=http://localhost:3000
DOWNLOAD_DIR=downloads
FILE_TTL_SECONDS=1800
MAX_DURATION_SECONDS=10800
MAX_FILESIZE_MB=4096
MAX_CONCURRENT_DOWNLOADS=2
MAX_QUEUED_JOBS=20
MAX_ACTIVE_JOBS_PER_CLIENT=2
INFO_RATE_LIMIT_PER_MINUTE=30
DOWNLOAD_RATE_LIMIT_PER_MINUTE=6
MAX_BODY_BYTES=4096
TRUST_PROXY_HEADERS=false
